body{
    background:url("https://m.media-amazon.com/images/I/31PwrwXt5xL.png"), linear-gradient(170deg, rgb(0, 168, 204) 500px, rgb(3, 138, 165) 1000px, rgb(34, 67, 73) 1750px) ;
}
.main{
    width:70%;
    margin: 0 auto;
    margin-top: 30px;
    padding: 0 20px;
    box-sizing: border-box;
}
.movie-card{
    background-color: white;
    padding:0;
    border: none;
    /* border-radius: 10px; */
    display:flex;
    transform-style: preserve-3d;

    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
      /* background: rgb(0, 0, 0);   */
}

.movie-card:hover{
    transform: perspective(1000px) rotateY(10deg);
    cursor: pointer;
}

.movie-card:not(:first-child){
    margin-top: 30px;
}

.movie-card .left {
    flex:1;
    padding: 5px;

}

.movie-card .left img{
    height:250px;
}

.movie-card .right{
    position:relative;
    flex:10;  

}

.movie-card .title{
    padding: 10px 20px;
    font-size: 25px;
    font-weight:600;
    opacity:0.6
}

.movie-card .title:hover{opacity:1; cursor: pointer;}

.movie-card .plot{
    margin-top: 10px;
    padding: 0 20px;
}

.movie-card .prize {
    margin-top: 20px;
    padding: 0 20px;
    font-weight: 600;
    color: rgb(0, 44, 75)
  }

.footer {
   position: absolute;
   bottom: 0;
    display:flex;

     width:100%; 
    box-sizing: border-box;
    padding: 10px 20px;
}

.footer .rating{
  font-size: 20px;
  font-weight: 600;
  flex:1;
  
}
.footer .stars{
    width: 20px;
    height: 20px;
  }
 .footer .stars-comp {
    font-size: 20px;
    font-weight: 600;
    flex:1; 
    position: relative;
  } 

.footer .star-btn{
    height:7px;
    width:7px;
}


.footer button {
    font-size:15px;
    padding: 7px 10px;
    text-shadow:none;
    border-radius: 10px;
    border:none;
    font-weight: 600;

}

.favourite-btn{
    background-color: cadetblue;
    color:white;
    margin: 5px;
}

.cart-btn{
    background-color: blueviolet;
    color:white;
    margin: 5px;
}



